@mixin responsive($size) {
    $screen_sizes: (
        phone:   "(min-width: 600px)",
        tablet:  "(min-width: 800px)",
        small:   "(min-width: 900px)",
        medium:  "(min-width: 1250px)",
        large:   "(min-width: 1600px)",
    );

    $query-size: map-get($screen_sizes, $size);

    @media #{$query-size} {
        @content;
    }
}