.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    .background-image {
        width: 100%;
    }

    .title {
        position: absolute;

        .title-small {
            font-size: 25px;
            font-weight: bold;
        }
    
        h1 {
            font-size: 50px;
        }
    }

    .fa-chevron-down {
        position: absolute;
        bottom: 25px;
        padding: 3px;
        color: black;
        background-color: lightgray;
        border-radius: 50%;
    }
}